/* Body will simply be a dark background */
body {
  background-color: #1E0233;
  text-align: center;
  height: 95vh;
}


/* Header will be  */
header {
  background-color: #895575;
  color: #FFFFFF;
  text-shadow: 4px 2px 2px #1E0233;
  font-size: 30px;
  height: 10vh;
  line-height: 10vh;
}
.headH{
  margin: 0px;
}


/* Navigation bar will be less vivid than header */
nav {
  background-color: #342D50;
  color: #E7D3CC;
  border-top-style: solid;
  border-color: #E7D3CC;
  text-shadow: 3px 1px 1px #1E0233;
  font-size: 22px;
  height: 5vh;
  line-height: 5vh;
}
.dullLink {
  color: inherit;
}


/* Main will be the background colour unless the canvas takes over */
main {
  background-color: #1E0233;
  color: #FFFFFF;
  border-top-style: solid;
  border-color: #E7D3CC;
  width: auto;
  height: 80vh;
  margin: 0;
  font-size: 20px;
  line-height: 32px;
}


/* Halves will be 50% of the screen width */
.leftHalf {
  width: 50%;
  height: inherit;
  float: left;
  scroll-behavior: auto;
  overflow-y: auto;
}
.rightHalf {
  width: 50%;
  height: inherit;
  float: right;
  scroll-behavior: auto;
  overflow-y: auto;
}
